<script context="module">
  import { goto } from '$app/navigation'
  import { base } from '$app/paths'
  import { getSpending } from '$lib/apis/api'
  import AddForm from '$lib/components/AddForm.svelte'

  export async function load({ fetch, params }) {
    try {
      return {
        props: {
          editedSpending: await getSpending(fetch, params.spendingId)
        }
      }
    } catch (_) {
      return {
        status: 500,
        error: 'Spending could not be found'
      }
    }
  }
</script>

<script>
  export let editedSpending

  function onSpendingUpdated() {
    goto(`${base}/`)
  }
</script>

<main>
  <a class="text-grey back-link" href="{base}/">👈 En fait non</a>

  <h1>Édition</h1>

  <div>
    <AddForm {editedSpending} on:spendingUpdated={onSpendingUpdated} />
  </div>
</main>

<style>
  .back-link {
    width: auto;
    align-self: flex-start;
  }
</style>
