<script>
  import { goto } from '$app/navigation'
  import { base } from '$app/paths'
  import AddForm from '$lib/components/AddForm.svelte'

  function onSpendingAdded() {
    goto(`${base}/`)
  }
</script>

<main>
  <a class="text-grey back-link" href="{base}/">👈 En fait non</a>

  <h1>Nouvelle dépense</h1>

  <div>
    <AddForm on:spendingAdded={onSpendingAdded} />
  </div>
</main>

<style>
  .back-link {
    width: auto;
    align-self: flex-start;
  }
</style>
