<script context="module">
  import { base } from '$app/paths'
  import { deleteSpending, getSpendingList } from '$lib/apis/api'
  import Balance from '$lib/components/Balance.svelte'
  import Loader from '$lib/components/Loader.svelte'
  import SpendingList from '$lib/components/SpendingList.svelte'
  import { onMount } from 'svelte'

  let page = 0

  export async function load({ fetch }) {
    try {
      const { spendings, count, balance } = await getSpendingList(fetch, page)
      return {
        props: {
          spendings,
          count,
          balance
        }
      }
    } catch (err) {
      console.error(err)

      return {
        status: 500,
        error: 'Spending list could not be found'
      }
    }
  }
</script>

<script>
  export let spendings
  export let count
  export let balance

  let isLoading = false

  onMount(async () => {
    if (!spendings) return

    try {
      isLoading = true

      const res = await getSpendingList(fetch, page)
      spendings = res.spendings
      count = res.count
      balance = res.balance
    } catch (err) {
      console.error(err)
    } finally {
      isLoading = false
    }
  })

  async function onDeleteSpending({ detail }) {
    try {
      balance = await deleteSpending(fetch, detail)

      spendings = spendings.filter(spending => spending.id !== detail)
    } catch (err) {
      console.error(err)
      alert("La dépense n'a pas pu être supprimée.")
    }
  }

  async function onSeeMore(e) {
    e.preventDefault()
    page += 1
    try {
      isLoading = true

      const res = await getSpendingList(fetch, page)
      spendings = [...spendings, ...res.spendings]
    } catch (err) {
      console.error(err)
    } finally {
      isLoading = false
    }
  }
</script>

<main>
  {#if spendings}
    <div>
      <Balance {balance} />
    </div>

    <a class="button outline main-action-button" href="{base}/add">
      ➕ Ajouter une dépense
    </a>

    {#if isLoading}
      <div class="loader">
        <Loader />
      </div>
    {/if}

    <div>
      <SpendingList {spendings} on:deleteSpending={onDeleteSpending} />
    </div>

    {#if spendings.length < count}
      <button
        class="button outline main-action-button"
        type="button"
        on:click={onSeeMore}
      >
        👀 La suite stp
      </button>
    {/if}
  {/if}
</main>

<style lang="scss">
  main > *:not(:last-child) {
    margin-bottom: 4rem;

    &.loader {
      margin-bottom: 2rem;
    }
  }

  .main-action-button {
    max-width: 400px;
  }

  .loader {
    display: flex;
    justify-content: center;
  }
</style>
