@use 'node_modules/chota/dist/chota.min.css';

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  > * {
    max-width: 960px;
    width: 100%;
  }
}

.button {
  border-radius: 2rem;
  transition: 0.3s ease;

  &:focus {
    border-color: #56afff;
  }

  &:active {
    opacity: 0.9;
  }

  &.clear {
    color: var(--font-color);

    &:hover {
      background-color: var(--bg-secondary-color);
    }

    &:active {
      background-color: var(--color-lightGrey);
      opacity: 0.8;
    }
  }

  &.outline {
    &.error {
      background-color: transparent;
      border-color: var(--color-error);
    }

    &:hover {
      background-color: var(--bg-secondary-color);
      opacity: 1;

      &:not(.error) {
        border-color: var(--color-grey);
      }
    }

    &:active {
      background-color: var(--color-lightGrey);

      &:not(.error) {
        border-color: var(--color-darkGrey);
      }
    }
  }
}

// Inspired from Spectre.css Cards
.card {
  box-shadow: 0 0.5rem 2rem rgb(48 55 66 / 15%);
  padding: 2rem;
  border-radius: 8px;
}
