<script>
  import { addSpending, updateSpending } from '$lib/apis/api'
  import {
    AUTHORS,
    AUTHOR_VALUES,
    BOTH_OF_US_LABEL,
    BOTH_OF_US_VALUE
  } from '$lib/constants/authors'
  import { LAST_AUTHOR_KEY } from '$lib/constants/localstorage-keys'
  import { apiSpendingFromForm } from '$lib/utils'
  import { createEventDispatcher, onMount } from 'svelte'

  export let editedSpending

  const dispatch = createEventDispatcher()

  const initialPriceValue = editedSpending?.price || ''
  const initialEmojiValue = editedSpending?.emoji || ''
  const initialDescriptionValue = editedSpending?.description || ''
  let myForm
  let involvedGuysValue =
    editedSpending?.involved_guys.length === 1
      ? JSON.stringify(editedSpending.involved_guys)
      : BOTH_OF_US_VALUE
  let isFormValid = false
  let authorValue = editedSpending?.author || AUTHOR_VALUES[0]
  let isSubmitting = false

  $: involvedGuysOptions = {
    ...Object.entries(AUTHORS).reduce((involvedGuys, [value, label]) => {
      if (value === authorValue) return involvedGuys
      return { ...involvedGuys, [JSON.stringify([value])]: label }
    }, {}),
    [BOTH_OF_US_VALUE]: BOTH_OF_US_LABEL
  }

  $: {
    if (involvedGuysValue === JSON.stringify([authorValue]))
      involvedGuysValue = BOTH_OF_US_VALUE
  }

  onMount(() => {
    if (editedSpending) onUpdateForm()
    else authorValue = localStorage.getItem(LAST_AUTHOR_KEY) || AUTHOR_VALUES[0]
  })

  function onUpdateForm() {
    isFormValid = myForm.checkValidity()
  }

  async function onSubmitForm({ target }) {
    const spending = apiSpendingFromForm(
      Object.fromEntries(new FormData(target))
    )

    isSubmitting = true

    localStorage.setItem(LAST_AUTHOR_KEY, spending.author)

    try {
      if (!editedSpending) {
        await addSpending(fetch, spending)

        dispatch('spendingAdded')
      } else {
        await updateSpending(fetch, { id: editedSpending.id, ...spending })

        dispatch('spendingUpdated')
      }
    } catch (err) {
      console.error(err)
      alert("La dépense n'a pas pu être mise à jour.")
    } finally {
      isSubmitting = false
    }
  }

  function onDescriptionUpdate({ target }) {
    if (!target.value?.length) return

    target.value = `${target.value[0].toUpperCase()}${target.value.slice(1)}`
  }
</script>

<form
  class="add-form"
  bind:this={myForm}
  on:change={onUpdateForm}
  on:submit|preventDefault={onSubmitForm}
>
  <label for="spending-author">Je suis</label>
  <select
    bind:value={authorValue}
    id="spending-author"
    name="author"
    class="spending-author-input"
    required
  >
    {#each Object.entries(AUTHORS) as [value, label] (value)}
      <option {value}>{label}</option>
    {/each}
  </select>

  <label for="spending-price">et j'ai claqué</label>
  <div class="input-suffixed">
    <input
      value={initialPriceValue}
      type="number"
      id="spending-price"
      name="price"
      class="spending-price-input"
      placeholder="10,75"
      step="0.01"
      required
    />
    <span class="input-suffix-icon">€ 💶</span>
  </div>

  <label for="spending-description">pour</label>
  <fieldset class="spending-description-fieldset">
    <input
      value={initialEmojiValue}
      type="text"
      id="spending-emoji"
      name="emoji"
      class="spending-emoji-input"
      placeholder="🎰"
      required
    />
    <input
      value={initialDescriptionValue}
      type="text"
      id="spending-description"
      name="description"
      class="spending-description-input"
      placeholder="Description"
      required
      on:input={onDescriptionUpdate}
    />
  </fieldset>

  <label for="spending-involved-guys">pour</label>
  <select
    bind:value={involvedGuysValue}
    id="spending-involved-guys"
    name="involved_guys"
    class="spending-involved-guys-input"
    required
  >
    {#each Object.entries(involvedGuysOptions) as [value, label] (value)}
      <option {value}>{label}</option>
    {/each}
  </select>

  <button
    class="submit-btn button outline icon-only"
    type="submit"
    disabled={!isFormValid || isSubmitting}
  >
    {isSubmitting ? '⏳' : '🚀'}
  </button>
</form>

<style lang="scss">
  $spending-price-input-width: 100px;
  $spending-price-input-padding-right: calc(1.7rem + 20px);

  .add-form {
    > * {
      display: inline-block;
    }

    select {
      background-color: #fff;
    }

    select,
    input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='color']):not([type='button']):not([type='reset']) {
      margin: 0 8px 8px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0;

      &:invalid {
        border-bottom-color: var(--color-error);
      }
    }

    .spending-author-input {
      width: 125px;
    }

    .spending-involved-guys-input {
      width: 160px;
    }

    .input-suffixed {
      display: inline-flex;
      align-items: center;
      position: relative;

      .input-suffix-icon {
        position: absolute;
        right: 10px;
        margin-bottom: 6px;
      }
    }

    .submit-btn {
      font-size: 1.75rem;
    }
  }

  input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='color']):not([type='button']):not([type='reset']) {
    &.spending-price-input {
      text-align: right;
      width: $spending-price-input-width;
      padding-right: $spending-price-input-padding-right;
    }

    &.spending-description-input {
      margin: 0 0 8px 8px;
    }

    &.spending-emoji-input {
      margin: 0 0 8px;
      max-width: 40px;
      text-align: center;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  input[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  .spending-description-fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
  }
</style>
