<script>
  import { AUTHORS, AUTHOR_VALUES } from '$lib/constants/authors'
  import { toPriceString } from '$lib/utils'

  export let balance

  $: [debtor, debt] =
    balance[AUTHOR_VALUES[0]] >= balance[AUTHOR_VALUES[1]]
      ? [
          AUTHOR_VALUES[1],
          balance[AUTHOR_VALUES[1]] - balance[AUTHOR_VALUES[0]]
        ]
      : [
          AUTHOR_VALUES[0],
          balance[AUTHOR_VALUES[0]] - balance[AUTHOR_VALUES[1]]
        ]
</script>

<div class="debtor">
  C'est <strong>{AUTHORS[debtor]}</strong> qui paye la prochaine tournée ! 🎉
</div>

<div class="debt" style:width="{Math.abs(debt)}%">
  {toPriceString(debt)}€
</div>

<style>
  .debtor {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25em;
  }

  .debt {
    margin: 0 auto;
    padding: 0 8px;
    transition: width 2s cubic-bezier(0.25, 1, 0.5, 1);
    text-align: center;
    background-color: var(--color-error);
    color: #fff;
    border-radius: calc(1.6rem + 8px);
    min-width: 110px;
    max-width: 80%;
  }
</style>
