<div class="loader" />

<style>
  .loader {
    width: 36px;
    height: 36px;
    border: 2px solid var(--color-lightGrey);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
