<script>
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()
  let open = null
  let dialogContainer

  export function openModal() {
    open = true
  }

  export function closeModal() {
    open = null
    dispatch('closed')
  }

  function onClickOverlay(e) {
    if (e.target === dialogContainer || dialogContainer.contains(e.target))
      return

    closeModal()
  }
</script>

<!-- The dialog attribute open is not supported by Firefox -->
<dialog class="dialog" {open} is-open={open} on:click={onClickOverlay}>
  <section bind:this={dialogContainer} class="dialog-container">
    <slot />
  </section>
</dialog>

<style lang="scss">
  /** Inspired from Spectre.css Modals */
  .dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background: rgb(247 248 249 / 75%);
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;

    &:not([open], [is-open]) {
      display: none;
    }
  }

  .dialog-container {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(48 55 66 / 30%);
    text-align: center;
  }
</style>
