<script>
  import { base } from '$app/paths'
  import { AUTHORS, BOTH_OF_US_LABEL } from '$lib/constants/authors'
  import { toPriceString } from '$lib/utils'
  import { createEventDispatcher } from 'svelte'

  export let spending

  const dispatch = createEventDispatcher()

  $: formattedInvolvedGuys =
    spending.involved_guys.length === 1
      ? AUTHORS[spending.involved_guys[0]]
      : BOTH_OF_US_LABEL

  function onDelete() {
    dispatch('delete')
  }
</script>

<div class="card">
  <header class="card-title">
    <div>{spending.emoji} {spending.description}</div>
    <div class="spending-price">{toPriceString(spending.price)}€</div>
  </header>
  <p class="spending-detail text-grey">
    {AUTHORS[spending.author]} <span class="divider">👉</span>
    {formattedInvolvedGuys}
  </p>
  <footer class="card-actions is-right">
    <a
      sveltekit:prefetch
      class="button outline icon-only"
      href="{base}/edit/{spending.id}"
    >
      ✏️
    </a>
    <button class="button outline icon-only error" on:click={() => onDelete()}>
      🗑
    </button>
  </footer>
</div>

<style lang="scss">
  .card {
    min-width: 272px;
    height: 100%;
  }

  .card-title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 0.5rem;

    > * {
      margin-bottom: 0;
    }
  }

  .spending-price {
    flex-shrink: 0;
    margin-left: 8px;
  }

  .spending-detail {
    font-weight: 300;
  }

  .divider {
    margin: 0 0.25rem;
  }

  .card-actions > .button {
    font-size: 0.75rem;
  }
</style>
