<script>
  import { createEventDispatcher } from 'svelte'
  import { flip } from 'svelte/animate'
  import Modal from './Modal.svelte'
  import SpendingCard from './SpendingCard.svelte'

  export let spendings

  const dispatch = createEventDispatcher()
  let deleteConfirmationModal
  let spendingIdToDelete

  function onDelete(spendingId) {
    spendingIdToDelete = spendingId
    deleteConfirmationModal.openModal()
  }

  async function onDeleteConfirmed() {
    if (!spendingIdToDelete) {
      deleteConfirmationModal.closeModal()
      return
    }

    dispatch('deleteSpending', spendingIdToDelete)
    deleteConfirmationModal.closeModal()
  }

  function onDeleteCanceled() {
    deleteConfirmationModal.closeModal()
  }

  function onModalClosed() {
    spendingIdToDelete = undefined
  }
</script>

<Modal bind:this={deleteConfirmationModal} on:closed={onModalClosed}>
  <p class="center">🤔 Tu es sûr·e ?</p>

  <div>
    <button class="button clear" on:click={onDeleteCanceled}>🚨 Oups</button>
    <button class="button error" on:click={onDeleteConfirmed}>
      👊 Ça vire !
    </button>
  </div>
</Modal>

<ul class="spending-list">
  {#each spendings as spending (spending.id)}
    <li animate:flip={{ duration: 1000 }}>
      <SpendingCard {spending} on:delete={onDelete(spending.id)} />
    </li>
  {/each}
</ul>

<style lang="scss">
  @use 'sass:math';

  $card-spacing: 1.5rem;

  .spending-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > * {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: $card-spacing;
      }
    }
  }

  @media (min-width: 600px) {
    .spending-list > * {
      width: calc((100% - $card-spacing) / 2);

      &:last-child {
        margin-bottom: $card-spacing;
      }

      &:nth-child(2n + 1):not(:last-child) {
        margin-right: math.div($card-spacing, 2);
      }

      &:nth-child(2n) {
        margin-left: math.div($card-spacing, 2);
      }
    }
  }

  @media (min-width: 900px) {
    .spending-list > * {
      width: calc((100% - (2 * $card-spacing)) / 3);

      &:nth-child(2n + 1):not(:last-child) {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-child(3n + 1),
      &:nth-child(3n + 2) {
        &:not(:last-child) {
          margin-right: math.div($card-spacing, 2);
        }
      }

      &:nth-child(3n + 2),
      &:nth-child(3n) {
        margin-left: math.div($card-spacing, 2);
      }
    }
  }
</style>
